@model IEnumerable<MiniBook.Models.Post>

@{
    ViewData["Title"] = "Liste des posts";
}

<h1>Liste des posts</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nouveau post</a>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Date de création</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var post in Model)
    {
        <tr>
            <td>@post.Title</td>
            <td>@post.User?.UserName</td>
            <td>@post.CreatedAt.ToLocalTime()</td>
        </tr>
    }
    </tbody>
</table>